{% load static %}

<header>

    <!-- Authentication Buttons -->
    <div class="button-wrapper d-flex justify-content-end gap-2 mt-2">
        {% if user.is_authenticated %}
        <a href="{% url 'logout_user' %}" class="form-button authentication-button">Sign Out</a>
        <a href="{% url 'admin:index' %}" class="form-button authentication-button">Site Administration</a>
        {% else %}
        <a href="{% url 'login_user' %}" class="form-button authentication-button">Sign In</a>
        {% endif %}
    </div>

    <!-- Site Title -->
    <div class="site-title-block">
        {% if request.resolver_match.url_name == 'homepage' %}
        <span class="site-title-text">{{ CENSUS_NAME }}</span>
        {% else %}
        <a href="{% url 'homepage' %}" class="site-title-text text-decoration-none">{{ CENSUS_NAME }}</a>
        {% endif %}
    </div>


    <!-- Navigation Links -->
    <nav class="nav-block" aria-label="Site navigation">
        <a href="{% url 'info' 'about' %}" class="nav-link">about</a>
        <a href="javascript:void(0);" id="site-search-button" class="nav-link">search</a>
    </nav>

    <!-- Search Bar -->
    {% include "census/search-bar.html" %}

</header>